#counter{
    width: 100%;
    height: auto;
    position: absolute;
  }
  
  canvas {
    width: 900px;
    height: 200px;
    display: block;
    position: relative;
    background: transparent;
    margin: 40px auto; 
  }
  
  @media screen and (max-width: 600px) {
    canvas {
      width: 340px!important;
    }
  }